<%- include("./includes/head") %>
<div class="home-container">
  <h1>Create New Post</h1>
  <a href="/">
    <button class="btn">Go Home</button>
  </a>
  <div class="form-container">
    <form action="/admin" method="post">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" required>
        </div>
        <div>
            <label for="img_url">Image URL</label>
            <input type="url" name="img_url" required>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" required>
        </div>
        <button class="add-btn">Add</button>
    </form>
  </div>
</div>
<%- include("./includes/head") %>
