<%- include("./includes/head") %>
<div class="home-container">
  <h1>Create New Post</h1>
  <a href="/">
    <button class="btn">Go Home</button>
  </a>
  <div class="form-container">
    <form action="">
        <div>
            <label for="">Title</label>
            <input type="text">
        </div>
        <div>
            <label for="">Image URL</label>
            <input type="url">
        </div>
        <div>
            <label for="">Description</label>
            <input type="text">
        </div>
        <button class="add-btn">Add</button>
    </form>
  </div>
</div>
<%- include("./includes/head") %>
